@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

body {
  margin: 0px;
}

nav {
  font-family: 'Inter', sans-serif;
  background-color: #3E3C3C;
  color: white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 154px;
}

#nav-name {
  height: fit-content;
  font-weight: normal;
  font-size: 20px;
}

#nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav ul {
  font-size: 15px;
  font-weight: 300;
}

nav ul li:last-child {
  height: 17px;
}
